<% let total = 0; %> <% if (user) { %>
<h2>Γεια σου, <%= user.username %>!</h2>
<h3>Η καρτέλα με τα στατιστικά σου</h3>
<% user.exams.sort((a, b) => a.unitNumber - b.unitNumber); %>
<div class="cards">
  <% user.exams.forEach((e) => { %> <% let avg = (10 * e.correct /
  e.solutions).toPrecision(2); total += Number(avg);%>
  <div class="stat-card">
    <% if (e.unitNumber < user.exams.length) { %>
    <h4 class="grid-col-span-2">Διαγώνισμα <%= e.unitNumber %></h4>
    <% } else { %>
    <h4 class="grid-col-span-2">Τελικό Διαγώνισμα</h4>
    <% } %>
    <span>Απαντήσεις</span> <span><%= e.submitted %></span>
    <span>Σωστές Απαντήσεις</span> <span><%= e.correct %></span>
    <span>Λάθος Απαντήσεις</span> <span><%= e.incorrect %></span>
    <span>Μέσος Όρος</span>
    <span><%= avg %></span>
    <a href="/exams/<%= e.unit %>" class="grid-col-span-2 retry-exam"
      >Επανάληψης Προσπάθειας</a
    >
  </div>
  <% }); %>
</div>
<%total = total / user.exams.length%>
<div>
  <% if (user.exams.length != 0 && total < 5) {%> Δεν τα πήγες και πολύ καλά.
  Καλύτερα να ξαναδιαβάσεις και να ξαναπροσπαθήσεις! <%} else if (total < 8.5) {
  %> Τα πήγες αρκετά καλά, άρα μπορείς και καλύτερα! <% } else if (total >= 8.5)
  { %>Μπράβο! Τα πήγες περίφημα!<% } else { %>Δεν έχεις ολοκληρώσει κάποιο
  διαγώνισμα ακόμα.<% } %>
</div>
<% } else { %>
<h2 class="error-message-heading"><%= message %></h2>
<% } %>
