<% if (user) { %>
<h2>Hello, <%= user.username %>!</h2>
<h3>Your stats</h3>
<% user.exams.forEach((e) => { %>
<div class="content-container">
  <div>Unit: <%= e.unit %></div>
  <div>Submitted answers: <%= e.submitted %></div>
  <div>Correct answers: <%= e.correct %></div>
  <div>Incorrect answers: <%= e.incorrect %></div>
</div>
<% }); %> <% } else { %>
<h2 class="error-message-heading"><%= message %></h2>
<% } %>
