<div class="sign-grid">
  <h2>Εγγραφή</h2>
  <form
    class="grid-col-span-2"
    id="register-form"
    action="/users/register"
    method="POST"
  >
    <div class="sign-in-grid">
      <input
        class="credential-input grid-col-span-2"
        id="username"
        type="text"
        name="username"
        placeholder="Συμπλήρωσε το username σου"
        value="<%= user.username %>"
      />
      <input
        class="credential-input grid-col-span-2"
        id="email"
        type="email"
        name="email"
        placeholder="Συμπλήρωσε το email σου"
        value="<%= user.email %>"
      />
      <input
        class="credential-input grid-col-span-2"
        id="passwd"
        type="password"
        name="password"
        placeholder="Συμπλήρωσε το password σου"
        value="<%= user.password %>"
      />
    </div>
  </form>
  <a href="/" class="cancel-btn">Ακύρωση</a>
  <button class="sign-submit-btn" form="register-form" type="submit">
    Εγγραφή
  </button>
  <a href="/users/Login" class="sign-suggestion grid-col-span-2"
    >Έχεις ήδη λογαριασμό;</a
  >
</div>

<% if (locals.errorMessage) { %>
<h2 class="error-message-heading">Error</h2>
<div class="error-message-container">
  <h4><%= errorMessage.what %></h4>
  <p><%= errorMessage.help %></p>
</div>
<% } %>
