<% var answers; for (let i = 0; i < user.exams.length; i++) { if
(user.exams[i].unit == exam.unit) { answers = user.exams[i].answers; break; } }
%>
<div>
  Οι μέθοδοι μιας κλάσης επιστρέφουν κάποια τιμή, εκτός αν είναι τύπου
  <input
    type="text"
    style="max-width: 5ch"
    class="<%= answers.ex4a.class %>"
    value="<%= answers.ex4a[answers.ex4a.class] %>"
    readonly
  />
  .
</div>
<div>
  Ένα πρόγραμμα ξεκινάει πάντα από την μέθοδο που ονομάζεται
  <input
    type="text"
    style="max-width: 5ch"
    class="<%= answers.ex4b.class %>"
    value="<%= answers.ex4b[answers.ex4b.class] %>"
    readonly
  />
  .
</div>
<div>
  Οι
  <input
    type="text"
    style="max-width: 6ch"
    class="<%= answers.ex4c.class %>"
    value="<%= answers.ex4c[answers.ex4c.class] %>"
    readonly
  />
  και
  <input
    type="text"
    style="max-width: 6ch"
    class="<%= answers.ex4d.class %>"
    value="<%= answers.ex4d[answers.ex4d.class] %>"
    readonly
  />

  μέθοδοι χρησιμοποιούνται για να επιστρέψουν και να ορίσουν αντίστοιχα τις
  <input
    type="text"
    style="max-width: 11ch"
    class="<%= answers.ex4e.class %>"
    value="<%= answers.ex4e[answers.ex4e.class] %>"
    readonly
  />
  -μέλη της κλάσης.
</div>
<div>
  Ο
  <input
    type="text"
    style="max-width: 7ch"
    class="<%= answers.ex4f.class %>"
    value="<%= answers.ex4f[answers.ex4f.class] %>"
    readonly
  />

  κατασκευαστής δεν δέχεται παραμέτρους και χρησιμοποιείται για την
  <input
    type="text"
    style="max-width: 12ch"
    class="<%= answers.ex4g.class %>"
    value="<%= answers.ex4g[answers.ex4g.class] %>"
    readonly
  />

  ενώς αντικειμένου.
</div>
<div>
  Ο
  <input
    type="text"
    style="max-width: 11ch"
    class="<%= answers.ex4h.class %>"
    value="<%= answers.ex4h[answers.ex4h.class] %>"
    readonly
  />

  κατασκευαστής ορίζεται με
  <input
    type="text"
    style="max-width: 12ch"
    class="<%= answers.ex4i.class %>"
    value="<%= answers.ex4i[answers.ex4i.class] %>"
    readonly
  />

  και καλείται για την αρχικοποίηση του αντικειμένου με βάση αυτές.
</div>
<div>
  Ένας τρόπος για να πάρουμε είσοδο από το χρήστη σε ένα πρόγραμμα είναι μέσω
  της κλάσης
  <input
    type="text"
    style="max-width: 8ch"
    class="<%= answers.ex4j.class %>"
    value="<%= answers.ex4j[answers.ex4j.class] %>"
    readonly
  />
  .
</div>
